.linkButton {
  display: inline-block;
  height: 63px;
  padding: 0 34px;
  font-size: 15px;
  line-height: 63px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: color $transition-normal, background-color $transition-normal, border-color $transition-normal, opacity $transition-normal;

  &:hover {

  }

  &[disabled] {
    cursor: default;
  }
}

.linkButton--gray {
  height: 50px;
  padding: 0 37px;
  font-size: 12px;
  line-height: 50px;
  color: $black;
  background-color: #F0F0F0;

  &:hover {
    background-color: $white-light;
  }
}

.linkButton--red {
  color: $white;
  background-color: $red;

  &:hover {
    background-color: #ff6581;
  }
}

.linkButton--redShadow {
  color: $white;
  background-color: $red;
  box-shadow: 8px 8px 15px 0 rgba(241,95,121, 0.7);

  &:hover {
    background-color: #ff6581;
  }
}

.linkButton--transparent {
  height: 50px;
  line-height: 48px;
  color: $black;
  border: 1px solid rgba(0,0,0, 0.3);
  background-color: transparent;
}

@media ($mobile) {
  .linkButton {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
  }

  .linkButton--transparent {
    line-height: 48px;
  }
}
