doctype html
html
	head
		meta charset="utf-8"
		meta http-equiv="X-UA-Compatible" content="IE=edge"
		meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
		title Radar
		meta name="description" content=""
		link rel="stylesheet" media="all" href="../css/app.css"
	body
		.contentWrapper

			header.header
				.contentIn

			section.bgGray
				.contentIn

			section.sectionAdvantages
				.contentIn
					.titleMain
						| Почему
						span.titleMain__helper Radar?
					.colsFlex.advantages
						.colFlex.colsFlex--3
							img.advantages__img src=""
							p.advantages__title
							p.advantages__info
						.colFlex.colsFlex--3
							img.advantages__img src=""
							p.advantages__title
							p.advantages__info
						.colFlex.colsFlex--3
							img.advantages__img src=""
							p.advantages__title
							p.advantages__info

			section.sectionAreas
				.contentIn
					.colsFlex
						.colFlex.sectionAreas__title
							.titleMain
								| Сервис
								span.titleMain__helper Radar
								| подходит для поиска линейного персонала в любых сферах бизнеса
							a.sectionAreas__button.linkButton.linkButton--red href="#" зазместить вакансию
						.colFlex.sectionAreas__areas.areas
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/restaurant.svg"
								span.areasItem__info Рестораны
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/fastfood.svg"
								span.areasItem__info Фастфуд
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/buys.svg"
								span.areasItem__info Сетевые магазины
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/bank.svg"
								span.areasItem__info Банки и микрокредитование
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/headphones.svg"
								span.areasItem__info Call-центры и телемаркетинг
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/cleaning.svg"
								span.areasItem__info Клининговые компании
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/car.svg"
								span.areasItem__info Логистические компании и такси
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/factory.svg"
								span.areasItem__info Заводы и фабрики
							.areas__item.areasItem
								img.areasItem__img src="../img/icons/svg/building.svg"
								span.areasItem__info Строительные компании
							.areas__more и еще более 50 отраслей

			footer.footer
				.contentIn
					h5.footer__title.titleMain Найдите сотрудников быстро и бесплатно
					p.footer__info Разместите вакансии прямо сейчас и найдите работника за 24 часа или даже быстрее!
					a.footer__button.linkButton.linkButton--red href="#" зазместить вакансию
					.footer__apps.apps
						p.apps__info или скачайте наше приложение
						a.apps__link href="#"
							img.apps__logo src=""
						a.apps__link href="#"
							img.apps__logo src=""


		script src="../js/app.js"
