$white:         #fff;
$white-light:   #F5F5F5;
$black:         #000;

$gray:          #A5ADBA;
$red:           #F15F79;

// animation
$transition-normal: .3s linear;
$transition-fast: .1s linear;



// screen resolutions
$tablet: 'max-width: 920px';
$mobile: 'max-width: 720px';
